<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cloudinary/2.13.4/cloudinary.min.js" integrity="sha384-JA/l5WuV7lhY13Z0+IzSGaP/7XqqWK8POrNrWjNwGpj4AzdHQ1k7ENgM8tPJ8pTj" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.6/cropper.min.js" integrity="sha384-Nk5WQ3BtXczB2lw31KWvfF1ra7o/7t8meG9t3Yt8u8vA9G+Ijjjw8hA0b41fHplZ" crossorigin="anonymous"></script>

    <title>Voting Machine</title>
    <!-- Include Bootstrap CSS here -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>

{% include 'navbar.html' %} <!-- Include the navbar template here -->

<div class="container mt-4">
    {% block content %}
    {% endblock %}
</div>

<!-- Include Bootstrap JS here -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
