{% extends 'dashboard.html' %}
{% block dashboard_name %}
    <h2>Admin Dashboard</h2>
{% endblock %}

{% block sidebar %}
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'halka-addition' %}">Halka Addition</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'candidate-application-list' %}">Approve Candidates</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'set-polling-schedule' %}">Set Polling Schedule</a>
        </li>
    </ul>
{% endblock %}
