{% extends 'dashboard.html' %}

{% block dashboard_name %}
    <h2>Voter Dashboard</h2>
{% endblock %}

{% block sidebar %} 
<div class="list-group list-group-flush">
    <a class="list-group-item list-group-item-action" href="{% url 'become-candidate' %}">
        <i class="bi bi-pencil-square"></i> Become a Candidate
    </a>
    <a class="list-group-item list-group-item-action" href="{% url 'vote' %}">
        <i class="bi bi-check-circle"></i> Vote
    </a>
    <a class="list-group-item list-group-item-action" href="{% url 'candidate-profiles' %}">
        <i class="bi bi-check-circle"></i> Candidate Profiles
    </a>
</div>
{% endblock %}

{% block winner_display %}
    {% include 'winners.html' %}
{% endblock %}
