<!-- candidate_application_list.html -->
{% extends 'base.html' %}

{% block content %}
  <h2>Candidate Applications</h2>
  <ul>
    {% for application in applications %}
      <li>
        Userame: {{ application.user.username }}
        Cnic: {{ application.user.cnic }}
        Halka: {{ application.user.halka }}
        <form method="post">
          {% csrf_token %}
          <input type="hidden" name="accept_application" value="{{ application.pk }}">
          <button type="submit" class="btn btn-primary">Accept</button>
        </form>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
