{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h2 class="my-4">Voters List</h2>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <ul class="list-group">
        {% for voter in voters %}
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-4">
                <strong>Username:</strong> {{ voter.username }}
              </div>
              <div class="col-md-4">
                <strong>Halka:</strong> {{ voter.halka }}
              </div>
              <div class="col-md-4">
                <strong>CNIC:</strong> {{ voter.cnic }}
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
      <div class="mt-3">
        <a href="{% url 'candidate-dashboard' %}" class="text-secondary">Go back to Dashboard</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
