{% extends 'base.html' %}

{% block content %}
  <h1>List of Voters in Your Halka</h1>

  <div class="voter-cards">
    {% for voter in voters_in_same_halka %}
      <div class="card">
        <h2>{{ voter.username }}</h2>
        <p><strong>Halka:</strong> {{ voter.halka }}</p>
        <p><strong>CNIC:</strong> {{ voter.cnic }}</p>
      </div>
    {% empty %}
      <p>No voters found in your Halka.</p>
    {% endfor %}
  </div>

  <a href="{% url 'candidate-dashboard' %}">Go back to Dashboard</a>
{% endblock %}
